* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(182, 126, 23, 0.3);
    height: 8em;
}

.logo_header {
    width: 4em;
    height: 4em; 
    

}
h1 {
    font-family: 'Lobster', cursive;
    font-size: 3em;
    color: #9e7c1a;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.9));
}
/* #bgContainer {
    background-image: url(img/MJ_Meranocity_0002_20181128__MG_2883-2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    filter: grayscale(0.4);

} */

a {
    text-decoration: none;
    margin:0 ,40px ,0, 20px;
    font-family: 'Lobster', cursive;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.9));
    color: #9e7c1a;


}
ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none; 
    padding: 0; 
    
  }

#menu_section {
    justify-content: center;
    z-index: 1;
}
h2,h3{
    padding: 20px;

}
.coffee_heading{
    position: relative;
    right: 80px;
    background-color: #9e7c1a;
    border-radius: 10px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.9));

}
.coffee_s_heading{
    position: relative;
    right: 40px;
    background-color: #9e7c1a;
    border-radius: 10px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.9));

}

.card{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    

}
h3,p{
    padding: 20px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.9));

}


.menu_sub_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    margin: 30px;
    border-radius: 20px;

}

.add_button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    width: 3em;
    height: 2em;
    background-color: rgba(182, 126, 23, 0.3);
}

#cart_section .cart_item{
    font-size: 14pt;
}
#order_section{
    background-color: #9e7c1a;
}
.order p {
    font-weight: 400;
}

.order, .cart_item {
    display: flex;
    justify-content: flex-end;
    border-radius: 20px;
    margin: 0.5em 0.8em 0.3em 0;
}



.decrease_num{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    width: 3em;
    height: 2em;
    background-color: rgb(66, 46, 8);

}

footer {
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo_footer{
    
    width: 80px;
}

/*Mediaquery für min 1200px*/

@media screen and (min-width: 1200px) {
   /*  body {
      background-color: lightgreen;
    } */

    h1 {
        position: relative;
        left: 70px;
    
        font-size: 7em;
        
    }
    header{
        justify-content: space-around;
    }

    ul {
        display: flex;
        flex-direction: row;
    
      }
    a{
        margin: 0 10px 0 10px;
    }
  }




    


